# --- Virtual Environments ---
venv/
.venv/
env/
bin/
Include/
Lib/
Scripts/
pyvenv.cfg

# --- Python Build/Distribution ---
__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- Environment Variables & Secrets ---
# (Never commit your API keys or database passwords!)
.env
.venv
env.ini
.flaskenv



# --- Unit Testing & Coverage ---
.pytest_cache/
.tox/
.nox/
.coverage
.cache
htmlcov/

# --- Log files ---
*.log
logs/

# --- OS Specific ---
.DS_Store
Thumbs.db